#ConfigCtrl.container-fluid(ng-controller="AutoResponderConfigCtrl")
  .row
    .col-md-8
      ul.list-group(ng-init="loadConfig();loadUrlParams();")
        li.list-group-item.clearfix(ng-repeat="rule in rules")
          .pull-left.
            {{rule[0]}} =&gt; <br> {{rule[1]}}
          .pull-right
            a.btn.btn-default(href="javascript:;" ng-click="deleterule(rule[0])") 删除

      form.form-horizontal(ng-submit="submitAddRule($event)" method="post")
        .form-group
          .col-sm-offset-2.col-sm-10
            label.radio-inline
              input(type="radio" checked="checked" name="keyType" value="String")
              |String
            label.radio-inline
              input(type="radio" name="keyType" value="RegExp")
              |Regular Expression
        .form-group
          label.col-sm-2.control-label Url
          .col-sm-10
            input.form-control(name="key" ng-model="form_url")
        .form-group
          .col-sm-offset-2.col-sm-10
            label.radio-inline
              input(type="radio" checked="checked" name="valueType" value="String") 
              |String
            label.radio-inline
              input(type="radio" name="valueType" value="Url")
              |Url
            label.radio-inline
              input(type="radio" name="valueType" value="File")
              |File
        .form-group
          label.col-sm-2.control-label(for="configValue") Replaced By
          .col-sm-10
            input#configValue.form-control(name="value")
        .form-group
          .col-sm-offset-2.col-sm-10
            input.btn.btn-primary(type="submit" value="提交")

    .col-md-4(ng-init="loadTempFiles()")
      ul.list-group
        li.clearfix.list-group-item(ng-repeat="file in tempFiles")
          .pull-left tmp/{{file}}
          .pull-right
            a.btn.btn-default(href="javascript:;" ng-click="deletefile(file)") 删除
      .simple_file
        iframe(height="40" scrolling="yes" frameborder="0")
      div
        input.btn.btn-primary(type="button" ng-click="loadTempFiles()" value="刷新")
