doctype html
html(ng-app="fiddler")
  head
    script(src="/socket.io/socket.io.js")
    script(src="/jquery/dist/jquery.js")
    script(src="/angular/angular.js")
    script(src="/js/controller.js")
    //script(src="/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css")
    title Fiddler
    style.
      #requests{overflow:auto;}

  body
    ul.nav.nav-tabs(ng-controller="MainMenu" ng-init='view=1')
      li(ng-click="setTab(1)" ng-class='{active:view==1}')
        a Request List
      li(ng-click="setTab(2)" ng-class='{active:view==2}')
        a Config
    #RequestListCtrl.container-fluid(ng-controller="RequestListCtrl")
      .row
        div.col-md-7
          div
            input.btn.btn-primary(type="button" ng-click="clear()" value="clear")
          div#requests.list-group
            a.list-group-item(id="{{req.id}}" href="#c=RequestListCtrl&id={{req.id}}" ng-kbshort="keydown($event)" ng-click="setActive(req)" ng-repeat="req in requests" ng-class="{'active':req.active,'list-group-item-success': req.matchAutoResponder,'list-group-item-warning':!req.responseHeader,'list-group-item-danger':req.responseCode>=400}").
              {{req.url}}
        div.col-md-5#activeRequest
          ul.nav.nav-tabs(ng-init='detailView="request_header"')
            li(ng-click="setDetailView('request_header')" ng-class="{'active':detailView=='request_header'}")
              a Request Header
            li(ng-click="setDetailView('response_header')" ng-class="{'active':detailView=='response_header'}")
              a Response Header
            li(ng-click="setDetailView('response')" ng-class="{'active':detailView=='response'}")
              a Response
            li(ng-click="setDetailView('auto_responder')" ng-class="{'active':detailView=='auto_responder'}")
              a AutoResponder
          #activeRequestContainer(ng-init='activeRequest={}')
            .header(ng-class="{hide:detailView!='request_header'}")
              pre {{activeRequest.requestHeader}}
            .header(ng-class="{hide:detailView!='response_header'}")
              pre {{activeRequest.responseHeader}}
            .response(ng-class="{hide:detailView!='response'}")
              pre {{activeRequest.response}}
            .auto_responder(ng-class="{hide:detailView!='auto_responder'}")

    script.
      $(window).resize(function(){
        $("#requests").height($(window).height()-$("#requests").offset().top);
        $("#activeRequestContainer").height($(window).height()-$("#activeRequestContainer").offset().top);
      });
      $(window).resize();
