doctype html
html(ng-app="fiddler")
  head
    script(src="/socket.io/socket.io.js")
    script(src="/jquery/dist/jquery.js")
    script(src="/angular/angular.js")
    script(src="/angular-route/angular-route.js")
    script(src="/jquery-form/jquery.form.js")
    script(src="/js/controller.js")
    //script(src="/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css")
    title Fiddler
    style.
      #requests,#activeRequestContainer{overflow:auto;overflow-y: auto; overflow-x: hidden; }

  body
    .navbar-fixed-top.navbar.navbar-default(ng-controller="MainMenu" ng-init="init()")
      .container
        ul.nav.nav-tabs(ng-init='tabs=["RequestList","AutoResponderConfig","OtherConfig"]')
          li(ng-repeat="tab in tabs" ng-click="setTab(tab)" ng-class='{active:curTab==tab}')
            a(href="#/{{tab}}Ctrl") {{tab}}
    .navbar aaa
    ng-view
